# Virtual Environments
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# GitHub Configuration
.github/
